## Configuration Heldonica Mobile
# Chemin vers votre Android SDK (adaptez selon votre OS)
sdk.dir=C\:\\Users\\farin\\AppData\\Local\\Android\\Sdk

# Configuration de connexion à l'API Heldonica CMS
cms.baseUrl=https://www.heldonica.fr
cms.password=heldonica2026
